In [1]:
import pandas as pd

In [15]:
pd.DataFrame([[1,2,3],[4,5,6]], index=[1,2], columns=['a','b','c'])

   a  b  c
1  1  2  3
2  4  5  6

In [17]:
pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]], index=range(1,5), columns=['A','B','C','D'])

    A   B   C   D
1   1   2   3   4
2   5   6   7   8
3   9  10  11  12
4  13  14  15  16

In [19]:
pd.Series({"한국":"서울","일본":"도쿄","중국":"베이징"})

한국     서울
일본     도쿄
중국    베이징
dtype: object