In [1]:
import pandas as pd
import numpy as np

In [4]:
# 22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7 이 출려되는 코드를 작성
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df['A'].drop_duplicates()

0    1
1    2
3    3
4    4
5    5
8    6
9    7
Name: A, dtype: int64

In [8]:
# 23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.237648  0.121577  0.116070
1 -0.539068  0.277836  0.261232
2 -0.266681 -0.112778  0.379459
3 -0.223242 -0.094609  0.317851
4  0.290683 -0.342754  0.052071

In [10]:
# 24. 다음 객체에서 가장 작은 합계를 가진 숫자열의 열을 출력
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

,a,b,c,d,e,f,g,h,i,j
0,0.986189,0.000950,0.639850,0.160657,0.986371,0.452546,0.569531,0.782113,0.189050,0.025346
1,0.003199,0.911941,0.356341,0.603365,0.051170,0.952793,0.942824,0.378404,0.604127,0.935297
2,0.311811,0.307995,0.321617,0.694695,0.095524,0.042142,0.155122,0.018403,0.534213,0.160768
3,0.249571,0.357543,0.262896,0.909731,0.727515,0.182510,0.849676,0.810275,0.633045,0.881554
4,0.927868,0.671982,0.999389,0.042336,0.262814,0.344945,0.431657,0.969379,0.388367,0.710313

In [11]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

In [12]:
# 26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
# 답은 e, c, d, h, d 입니다.
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)

In [13]:
# 27. 다음 객체에서 grps 에서 a, b, c 별로 가장 큰 값을 찾으시오.
# 출력 결과는 
#  grps
#   a    409
#   b    156
#   c    345
# 이렇게 나옵니다.
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

In [15]:
# 28 다음 객체를 list 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
list_from_df = df.values.tolist()
list_from_df

[[1, 4], [2, 5], [3, 6]]

In [17]:
# 29 다음 객체를 dictionary 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
dict_from_df = df.to_dict('list')
dict_from_df

{'A': [1, 2, 3], 'B': [4, 5, 6]}

In [19]:
# 30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})

In [ ]:
# 31 30번 객체를 
#    customer_id 와 grade 를 인덱스로하고 product_code 를 컬럼으로, 
#    purchare_amount 를 값으로, 재구성하시오