In [2]:
import pandas as pd
import numpy as np

In [3]:
# 판다스 버전 확인하기
pd.__version__

'1.2.4'

In [4]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [5]:
df=pd.DataFrame(data,index=[labels])
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [6]:
df.info

<bound method DataFrame.info of   animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no>

In [7]:
# 6. 객체 상위 3열까지 출력

In [8]:
# 7. animal과 age 컬럼만 출력
df_01 = df.loc[:,['animal','age']]
df_01

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [9]:
# 8. 객체의 3, 4, 8번 행에 해당하는 animal과 age 값만 출력
df_02 = df.loc[['c','d','h'],['animal','age']]
df_02

  animal  age
c  snake  0.5
d    dog  NaN
h    cat  NaN

In [23]:
# 9. visit 컬럼에서 3 초과하는 값 출력
df_03=df.loc[df['visits'] > 3]
df_03

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [11]:
# 10. age 에서 NaN 값 출력
df_04=df[df['age']=='NaN']
df_04 #??????????????????????????????????????????????????

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [22]:
# 11. age가 3살 미만 고양이값 출력
df_05 = df.loc[df["animal"]=='cat']
df_05 ## ?????????????????????????????????????????????????

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
h    cat  NaN       1      yes

In [31]:
# 12. age가 2살이상 4살 미만인 값 출력
condition01 = df['age'] >= 2
condition02 = df['age'] < 4
df_06 = df[condition01 & condition02]
df_06

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [41]:
# 13. f 행의 나이를 1.5살로 변경
df_07=df.loc['f', 'age'] = 1.5
df_07

1.5

In [50]:
# 14. 객체에서 visit 의 합 출력
df['visits'].sum()

19

In [53]:
# 15. 동물별로 나이의 평균 출력
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [54]:
# 16. k행을 추가하여 dog , 5.5세, 우선권없음(no), 방문회수 2회 열을 추가
df.loc['k'] = ['dog',5.5, 2, 'no']

In [55]:
df = df.drop('k', inplace=True)
# del df['k']

In [56]:
# 18. age 는 내림차순, visits 는 오름차순으로 정렬

In [ ]:
# 19. priority 의 yes를 True, no 를 False  로 맵핑 후 출력
df['priority'] =df['priority'].map({'yes':True,'no':False})

In [ ]:
# 20. snake 를 python 으로 값을 변경
df['animal']

In [ ]:
# 21. 각각의 동물 유형과 방문 횟수에 대해, 평균나이를 찾으시오. 
# 즉,각 행은 animal 이고, 각 열은 visit 이며, 값은 평균연령
# (힌트, 피벗 테이블을 활용해야 함)

df = df.pivot_table(index='animal',columns='visits',values='age', aggfunc='mean')
df